.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.hero-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0 40px;
}

.hero-content {
  font-family: Glancyr, sans-serif;
  max-width: 800px;
}

.hero-content h1 {
  font-family: AkiraExpanded, sans-serif;
  text-align: left;
  font-size: 31px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.hero-content .highlight {
  color: #F0C929;
  display: inline-block;
}

.hero-content p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #e0e0e0;
  text-align: left;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 250px;
  text-align: center;
}

.btn-primary {
  background-color: #F0C929;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #F0C929;
  color: #ffc107;
}

.btn-secondary:hover {
  background-color: #ffc107;
  color: black;
}

.hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .hero-image {
    display: none; /* Ocultar la imagen en pantallas pequeñas */
  }

  .hero-content {
    margin-top: 4rem; /* Agregar margen superior para pantallas pequeñas */
  }

  .hero-content h1 {
    text-align: center;
  }

  .hero-content p {
    text-align: center;
  }

  .hero-buttons {
    flex-direction: column; /* Cambiar disposición de botones a vertical en pantallas pequeñas */
    gap: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .hero-container {
    flex-direction: row; /* Mantener disposición horizontal en pantallas grandes */
    gap: 4rem;
    padding: 0 60px;
  }

  .hero-content {
    text-align: center;
    margin-left: 7rem;
    margin-top: 4rem;
  }

  .hero-image {
    display: flex; /* Asegurar que la imagen sea visible en pantallas grandes */
    margin-right: 2rem; /* Agregar margen derecho para pantallas grandes */
  }
}

@font-face {
  font-family: 'AkiraExpanded';
  src: url('../assets/fonts/AkiraExpanded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glancyr';
  src: url('../assets/fonts/GLANCYR-LIGHT.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}