/* Estilos específicos para Nosotros */
.nosotros-section {
  background: linear-gradient(to bottom, #1f1f1f, #000000);
  min-height: 100vh; /* Ajustar al alto total de la ventana */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  padding: 10px 20px; /* Espaciado interno ajustado */
  box-sizing: border-box;
  overflow: auto; /* Permitir desplazamiento */
}

.nosotros-container {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Espaciado entre bloques */
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.nosotros-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.nosotros-block .nosotros-image {
  flex: 1;
  max-width: 30%;
  height: auto;
  border-radius: 0px;
}

.nosotros-block .nosotros-text {
  flex: 1;
  max-width: 45%;
  text-align: left;
  margin-left: 30px;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #e0e0e0;
}

.nosotros-block .nosotros-text h3 {
  font-size: 2rem;
  color: #F0C929;
  margin-bottom: 15px;
  position: relative;
}

.nosotros-block .nosotros-text h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #F0C929;
  margin-top: 5px;
}

.nosotros-block .nosotros-text p {
  font-size: 1.1rem;
  color: #c0c0c0;
  margin: 0;
}

/* Media Queries para diseño responsivo */
@media (max-width: 1024px) {
  .nosotros-block {
    flex-direction: column;
    text-align: center;
  }

  .nosotros-block .nosotros-image,
  .nosotros-block .nosotros-text {
    max-width: 100%;
  }

  .nosotros-block .nosotros-text {
    font-size: 1rem;
    line-height: 1.6;
  }

  .nosotros-block .nosotros-text h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1023px) {
  .nosotros-section {
    padding: 60px 15px;
  }

  .nosotros-block .nosotros-text {
    font-size: 0.9rem;
  }

  .nosotros-block .nosotros-text h3 {
    font-size: 1.6rem;
  }

  .nosotros-block .nosotros-image {
    display: none; /* Ocultar imágenes en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .nosotros-section {
    padding: 40px 10px;
  }

  .nosotros-block .nosotros-text {
    font-size: 0.8rem;
  }

  .nosotros-block .nosotros-text h3 {
    font-size: 1.4rem;
  }

  .nosotros-block .nosotros-image {
    display: none; /* Ocultar imágenes en pantallas muy pequeñas */
  }
}
