.obras-section {
    background: linear-gradient(to bottom, #1f1f1f, #3a3a3a);
    min-height: 100vh;
    color: white;
    padding: 2rem 1rem;
  }
  
  .obras-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .obras-title {
    font-size: 2rem;
    font-weight: bold;
    color: #F0C929;
    text-align: left;
    width: 100%;
    font-family: 'AkiraExpanded', sans-serif;
    margin-bottom: 0;
    margin-top: 6rem;
  }
  
  .obras-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
  }
  
  .obras-list {
    list-style: none;
    padding: 0;
    flex: 1;
  }
  
  .obras-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  
  .obras-number {
    color: #F0C929;
    font-weight: bold;
    margin-right: 1.5rem;
    font-family: 'AkiraExpanded', sans-serif;
    font-size: 2.5rem;
    flex-shrink: 0;
    text-align: right;
  }
  
  .obras-text {
    color: white;
    font-family: 'Glancyr', sans-serif;
    font-size: 1.1rem;
    text-align: left;
    flex-grow: 1;
  }
  
  .obras-image {
    flex: 1;
  }
  
  .obras-image img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .obras-content {
      flex-direction: column;
      align-items: center;
    }
    
    .obras-title {
      font-size: 1.3rem;
    }
    
    .obras-number {
      font-size: 2rem;
    }

    .obras-text {
      font-size: 1rem;
    }

    .obras-item {
      font-size: 0.5rem;
    }

    .obras-image img {
       display: none;
    }
  }

  @font-face {
    font-family: 'AkiraExpanded';
    src: url('../assets/fonts/AkiraExpanded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Glancyr';
    src: url('../assets/fonts/GLANCYR-LIGHT.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  