/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

/* Section Styling */
.section {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

/* Scroll Snap */
body {
  scroll-snap-type: y mandatory;
}

/* Specific Sections */
#diseno {
  background: linear-gradient(to bottom, #000000, #333333);
}

#galeria {
  background: linear-gradient(to bottom, #1f1f1f, #3a3a3a);
}

#Nosotros {
  background: linear-gradient(to bottom, #000000, #1f1f1f);
}

#Obras {
  background: linear-gradient(to bottom, #1f1f1f, #333333);
}

#Clientes {
  background: linear-gradient(to bottom, #1c1c1c, #333333);
}

#footer {
  background: linear-gradient(to bottom, #121212, #3a3a3a);
}

/* Responsiveness */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}
