/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.App {
  text-align: center;
  overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

/* Section Styling */
.section {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

#diseno, #galeria, #Nosotros, #Obras, #Clientes, #footer {
  background: linear-gradient(to bottom, #1f1f1f, #3a3a3a);
}

/* Responsiveness */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}
