/* Estilos básicos */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: black;
  color: white; /* Texto blanco global */
}

.App {
  text-align: center;
}

/* Redes Sociales */
.social-media {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media a {
  color: white;
  font-size: 24px;
}

/* Botón de subir */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #ffeb3b;
}

/* Fondo para cada sección */
section {
  padding: 120px 20px;
  height: 100vh;
  color: white;
}

#home, #nosotros, #obras, #clientes, #contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}



